/* File Dropbox.css: stylesheet for the DropBox web-application*/

body {
 	font-family: helvetica;
  	margin: 0px;
  	/* Comment in for some dank*/
  	/*background-image: url("public/dank.jpg");*/
}

/* -------------------- Header -------------------- */
#header{
	position: fixed;
	float: left;
	width: 100%;
	margin-top: 0;
	background-color: green;
}

#header h1 {
	display: block;
	position: relative;
  
	font-family: helvetica;
	font-size: 40px;
}

#app_main{
	float: left;
	position: relative;
	padding: 1em;
	margin-top: 6.3em;
  	display: block;
	background-color: lightgreen;
	max-width: 60em;
	min-width: 40em;
	min-height: 30em;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid #555;
}

/* -------------------- Login -------------------- */

#login{
	display:block;
	background-color: #fff;
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
	max-width: 14em;
	position: relative;
	margin: 0 auto;
    padding: 1em;
	border: 2px solid #555;
	border-radius: 25px;
}

#login button{
	margin-top: 0.4em;
	margin-left: 5em;
	width:5em;
	height:1.4em;
}

#login input {
	position: relative;
	float: left;
	margin-left: 6em;
	top: -1.2em;
}

#login p > button {
	margin: 0.2em;
	width: 8em;
}

/* -------------------- loggedInBar ------------------- */
#loggedInBar {
	display: block;
	height: 3em;
	width: 100%;
}

#loggedInBar a {
	float:right;
}

#loggedInBar p {
	float:left;
}

/* -------------------- Filebrowser -------------------- */

#filebrowser {
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	
	max-width: 30em;
	background-color: #eee;
	border: 2px solid #444;
	border-radius: 25px;
}

#filebrowser h2 {
	font-family: helvetica;
	font-size: 18px;
}

#dropzone {
	display: block;
	background-color: #FFF;
	width: 100%;
	margin:0em;
	height: 5em;
	border: 2px dashed black;
	border-radius: 10px;
	text-align: center;
	font-family: sans-serif;
	font-style: italic;
	color: #CCC;
}

#filebrowser table {
	font-size: 16px;
	display:block;
	padding: 0em;
	margin: 0em;
}

#filebrowser table, th, td {
    border: 1px solid black;
}

#filebrowser tr {
	min-width: 14em; 
	background-color: #fff;
	height:1em;
}

#filebrowser table tr:nth-child(even){
	background-color: lightblue;
}

#filebrowser table td > button {
	position: relative;
	float:right;
	width:100%;
	height:100%;
}


#filebrowser td > img {
	height: 100%;
  width: 100%;
}

/* -------------- Tabellenspalten ---------------  */
/* Erste Tabellenspalte */
#filebrowser table > tr > td:nth-child(1)
{
	min-width: 2em;
}
/* Zweite Tabellenspalte */
#filebrowser table > tr > td:nth-child(2)
{
	min-width: 14em;
}
/* Dritte Tabellenspalte */
#filebrowser table > tr > td:nth-child(3)
{
	min-width: 9em;
}
/* Vierte Tabellenspalte */
#filebrowser table > tr > td:nth-child(4)
{
	min-width: 3.4em;
}


/* ---------- addFileMenu(lower Secion of Filebrowser) ---------- */
#addFileMenu p {
	display: block;
	width: 8em;
	margin: 0px;
	padding: 0px;
	font-size: 15px;
}

#addDirectoryDiv {
	display: block;
	font-family: helvetica;
	width: 100%;
	height: 2em;
	margin: 0px;
	margin-top: 0.2em;
	padding: 0px;
	font-size: 15px;
}

#addDirectoryDiv input {
  width: calc(100% - 11em);
	position: relative;
	float: left;
	margin:0em;
	top: -1.3em;
	margin-left: 8em;
}

#addDirectoryDiv button {
  position: relative;
	float: left;
	margin:0em;
	top: -1.3em;
	margin-left: 0.2em;
}

/* ----------------- Registration ---------------- */

#registration {
	background-color: lightgrey;
	padding:1em;
	display:block;
	width: 60%;
	min-width: 18em;
	height: 60%;
	min-height: 18em;
	margin: auto;
	border: 1px solid black;
	border-radius: 10px;
}

#registration > div{
	padding: 0em;
}

#registration div > div {
	 text-align: center;
	 height: 2em;
	 width:100%;
	 margin-top: 0em;
	 margin-bottom: 0em;
}
#registration div > div > p{
	float: left;
	position: absolute;
	width: 8em;
	height: 2em;
}

#registration div > div > input {
  position: relative;
	margin-left: 12em;
	top: 1em;
	float: left;
}

#registration div > div > button {
  position: relative;
	margin-left: 12em;
	top: 1em;
	float: left;
}

#registration #regStatus {
	color: red;
	display: block;
	width: 20em;
  text-align: center;
}

#registration > div > p {
	position: relative;
	float: right;
}

