#header{
	position: fixed;
	float: top;
	width: 100%;
	padding-top: 0;
	background-color: blue;
}

#header h1 {
	display: block;
	position: relative;
  
	font-family: helvetica;
	font-size: 40px;
}

#login{
	position: relative;
	padding-top: 7em;
}

#login button{
	margin-top: 0.4em;
	margin-left: 5em;
	width:5em;
	height:1.4em;
}

#login input {
	margin: 0.2em;
}